@font-face {
    font-family: 'Pixeboy';
    src: url('assets/Pixeboy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-progress-empty: #ffd1dc;
    --bg-progress-fill: #7851a9;  
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    user-select: none;
    overflow: hidden;
    -webkit-app-region: drag;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 14.25rem;  
    height: 19.5625rem; 
    padding: 1.5rem 1rem;

    background-image: url("assets/outer-frame-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

button, input {
    -webkit-app-region:no-drag;
}

.cover {
    position: relative;
    width: 10.5rem;
    height: 12.1875rem;
    border-radius: 16px;
    border: 3px solid #FF8DC6;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    margin-bottom: 0;
}
    
.songTitle {
    font-family: 'Pixeboy';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    color: #ffd1dc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}

.progress-container {
    width: 10.1875rem;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    box-sizing:content-box;
}

.star-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 18px;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.star-slider::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(
        to right,
        var(--bg-progress-fill) 5%,
        var(--bg-progress-fill) var(--progress, 10%),
        var(--bg-progress-empty) var(--progress, 20%),
        var(--bg-progress-empty) var(--progress, 30%),
        var(--bg-progress-empty) 100%
    );
}

.star-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin-top: -7px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2ZmOWViZSI+PHBhdGggZD0iTTEyIC41ODdsMy42NjggNy44MzEgOC4yIDEuMTkyLTUuOTM0IDUuNzg3IDEuNCA4LjE2OEwxMiAxOC44OTZsLTcuMzM0IDMuODU3IDEuNC04LjE2OEwuMTMyIDkuMjFsOC4yLTEuMTkyeiIvPjwvc3ZnPg==');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    cursor: pointer;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2px;
    width: 100%;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #FF8DC6; 
    font-size: 1.9rem;
    transition: transform 0.1s ease;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.btn svg {
    width: 80%;
    height: 80%;
}

#play svg {
    width: 85%;
    height: 85%;
    border-radius: 100%;
    border-color: #7851a9;
}